{{ define "main" }}
        <main>
            <div class="container pt-5 pb-4">
                <div class="row">
                    <div class="col-12 col-lg-6 pl-2 pr-2 pl-lg-0 pr-lg-0 pb-2">
                        <h1 class="content">{{.Title}}</h1>
{{ with .Params.subtitle }}
                        <span class="subtitle">{{.}}</span>
{{ end }}
                    </div>
                </div>
                <div class="row">
                    <div id="content" class="col-12 col-lg-10 ml-1 mr-2 pl-2 pl-lg-1 pr-2 pr-lg-3">

{{ .Content | replaceRE "<p>" "" | replaceRE "</p>" "" | safeHTML -}}

                    </div>
                </div>
            </div>
        </main>
{{ end }}
