{{ define "main" }}
        <main>
            <div class="container pt-5 pb-4">
                <div class="row">
                <h1 class="content">{{.Title}}</h1>
{{ with .Params.subtitle }}
                <span class="subtitle">{{.}}</span>
{{ end }}
                </div>
                <div class="row">
                    <div id="content" class="col-12 col-lg-6 p-0">

{{.Content}}

                    </div>
                    <div id="spacing" class="d-none d-lg-block col-1">
                        &nbsp;
                    </div>
                    <div id="images" class="col-12 col-lg-5">
{{ range .Params.image }}
                        <div class="row pb-2">
                            <img class="img-fluid" src="{{ . | absURL }}" alt="">
                        </div>
{{ end }}
                    </div>
                </div>
            </div>
        </main>
{{ end }}
